[submodule "third_party/lattice"]
	path = third_party/lattice
	url = git@github.com:Alexhuszagh/lattice.git
[submodule "third_party/crosscxx"]
	path = third_party/crosscxx
	url = git@github.com:Alexhuszagh/crosscxx.git
